<h1>Cadastrar Projeto</h1>
<%= link_to 'Projetos', projects_path %>

<%= form_with(model: @project, url: "/projects", method: "post") do |form|%>
  <label>Titulo</label>
  <%= form.text_field(:title) %>
  <label>Descriçao</label>
  <%= form.text_field(:description) %>
  </br>
  <%= submit_tag("Enviar") %>
<% end %>
